root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{png,jpg,jpeg,gif,webp,ico,icns,pdf,ttf,otf,woff,woff2,mp3,mp4,wav,db}]
end_of_line = unset
insert_final_newline = unset
